{% if upxe.enable.ipv4 == true -%}
host-record=pxe,pxe.{{ upxe.dns.domain }},{{ upxe.listen.ipv4 }}
{% endif %}
{% if upxe.enable.ipv6 == true -%}
host-record=pxe,pxe.{{ upxe.dns.domain }},{{ upxe.listen.ipv6 }}
{% endif %}